@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

:root {
  --primary-blue: "#5A749B";
  --primary-orange: "#FB860B";
  --primary-text-color: "#030E1F";
  --secondary-text-color: "#898989";
  --blue-tint: "#5A749B1A";
  --orange-tint: "#FB860B4D";
}
