@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif !important;
}

:root {
  --primary-blue: #5a749b;
  --primary-orange: #fb860b;
  --primary-text-color: #030e1f;
  --secondary-text-color: #898989;
  --blue-tint: #5a749b1a;
  --orange-tint: #fb860b4d;
}

.trynow-button:hover > svg > path {
  fill: white;
}

.feature-list button {
  color: var(--secondary-text-color);
}

.feature-list button:hover {
  color: var(--primary-text-color);
}

.nav-pills .nav-link.active {
  background-color: transparent !important;
  color: var(--primary-text-color) !important;
  border-bottom: 6px solid var(--primary-blue);
  border-radius: 0 !important;
}
